table {
	font-family: Helvetica, Arial, sans-serif;
	color: #7f7f7f;
}

.white {
	color: #FFFFFF;
}

table input {
	width: 200px;
}

.center {
	position: absolute;
	left: 50%;
	width: 350px;
	margin-top: 100px;
	margin-left: -180px;
	padding: 15px;
	background-color: #C50103;
}

.center_wob {
	position: absolute;
	left: 50%;
	width: 350px;
	margin-left: -180px;
	padding: 15px;
}

.inputLeft {
	float: right;
	margin-right: 15px;
}

.facebook {

}

.list_routes {
	width: 100%;
	min-height: 50px;
	max-height: 420px;
	background-color: #C50103;
	overflow:scroll;
}

.hidden-logged-out {
	z-index: 1;
	min-height:1px;
}

.hidden-logged-in {
	z-index: 2;
	min-height:1px;
}

.hidden-success {
	visibility: hidden;
}

textarea.message_area {
	margin-left:20px;
}